@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
}

@layer base {
  .border,
  [class*="border-"] {
    @apply border-gray-300;
  }

  hr {
    @apply text-gray-300;
  }

  select,
  input,
  textarea {
    border: 1px solid #c2c2c2;
    outline-color: #390620;
    border-radius: 4px;
  }
}

.active {
  background-color: #ffebf5;
  border-color: #c586a5;
}
